@using CaptchaMvc.HtmlHelpers
@model MvcApplication3.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.choose)
                @Html.DropDownList("Choose", new List<SelectListItem>{
    new SelectListItem { Text = "What was Your First Phone Number?", Value = "1"},
    new SelectListItem { Text = "What was the name of your school?", Value = "2"},
    new SelectListItem { Text = "Who was your childhood hero?", Value = "3"},
    new SelectListItem { Text = "What is your favouriate Sports Name?", Value = "4"},
    new SelectListItem { Text = "What's your Father's Middle Name?", Value = "5"},
    new SelectListItem { Text = "What was your first teacher's name?", Value = "6"},
}, "---------------------Select---------------------", new { style = "width:310px; font-size:1.2em" })
            </li>
            <li>
                @Html.LabelFor(m => m.ans)
                @Html.PasswordFor(m => m.ans)
            </li>
            <li>
                @Html.LabelFor(m => m.conans)
                @Html.PasswordFor(m => m.conans)
            </li>
            <li>
                @Html.MathCaptcha()
            </li>
        </ol>
        <input type="submit" value="Register" onclick="myFunction()" />
    </fieldset>
}
<script>
function myFunction(){
if(@ViewBag.Message != null)
{
alert('@ViewBag.Message');   
}
}</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
