@model MvcApplication3.Models.certiModel

@{
    ViewBag.Title = "CET Certificate";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section id="certi">
   @using (Html.BeginForm(null,null,FormMethod.Post,new{enctype ="multipart/form-data"}))
   {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="CertiTable">
                <table>
                    <tr>
                        <td>
                            Select a file
                        </td>

                        <td colspan="2">
                            <input type="file" name="File" id="file" style="width:auto" />

                        </td>
                    </tr>
                 <tr>
                     <td>Seat No.</td>

                     <td>
                         @Html.TextBoxFor(m => m.seatNo)
                     </td>
                 </tr>

                    <tr>
                        <td>First Name</td>

                        <td>
                            @Html.TextBoxFor(m => m.fname)
                        </td>
                        <td>Middle Name</td>
                        <td>
                            @Html.TextBoxFor(m => m.mname)
                        </td>
                        <td>Last Name</td>
                        <td>
                            @Html.TextBoxFor(m => m.lname)
                        </td>
                    </tr>
                    <tr>
                        <td>Physics Marks</td>

                        <td>
                            @Html.TextBoxFor(m => m.Physics, new { style = "width:70px" })
                        </td>
                        <td>Chemistry Marks</td>

                        <td>
                            @Html.TextBoxFor(m => m.Chemistry, new { style = "width:70px" })
                        </td>

                        <td>Maths Marks</td>

                        <td>
                            @Html.TextBoxFor(m => m.Maths, new { style = "width:70px" })
                        </td>

                    </tr>
                    
                    <tr>

                        <td>
                            @Html.LabelFor(m => m.data)
                        </td>

                        <td>
                            @Html.TextBoxFor(m => m.data, new { style = "width:170px" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                           Status
                        </td>
                        <td>
                            @Html.TextBox("Status", (string)ViewBag.status, new { style = "width:170px" })
                        </td>
                        <td>
                            @Html.TextBox("Output", (string)ViewBag.output, new { style = "width:170px" })
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="submit" name="command" value="Sign" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="submit" name="command" value="SignPDF" />
                        </td>
                    </tr>

                </table>
            </div>
    }
</section>
